.tabsRoot {
  max-width: 100%;
  overflow: hidden;
}
.tabsRoot,
.tabPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
}
@container (width < 4.5rem) {
  .tabsList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tabButton {
    padding: 0.2rem;
  }
  .tabSection {
    margin-inline-end: 0 !important;
  }
  .tabLabel {
    display: none;
  }
}
