.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: var(--mantine-spacing-xs);
}
.listItem {
  gap: var(--mantine-spacing-xs);
  user-select: none;
  max-width: 100%;
  display: flex;
  align-items: center;
  span {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }
}
