.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 1rem;
  container-type: inline-size;
}
.stickyHead {
  padding-bottom: var(--app-space-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--app-space-xs);
}

.wideViewportButton {
  display: block;
}
.narrowViewportButton {
  display: none;
}
@container (width < 4.5rem) {
  .wideViewportButton {
    display: none;
  }
  .narrowViewportButton {
    display: block;
  }
}
