@import "@mantine/core/styles.layer.css";
@import "@mantine/notifications/styles.layer.css";
@import "@szhsin/react-menu/dist/index.css";
@import "@szhsin/react-menu/dist/theme-dark.css";
@import "@bprogress/core/css";
body {
  margin: 0;
  padding: 0;
}

@layer mantine;

:root {
  --app-space-xs: var(--mantine-spacing-xs);
  --app-space-sm: var(--mantine-spacing-sm);
  --app-space-md: var(--mantine-spacing-md);
  --app-space-lg: var(--mantine-spacing-lg);
  --app-color-body: var(--mantine-color-body);
  --app-color-primary: var(--mantine-primary-color-filled);
  --app-color-danger: var(--mantine-color-error);
  --app-color-blue: var(--mantine-color-blue-9);
  --app-color-blue-light: var(--mantine-color-blue-4);
  --app-color-dimmed: var(--mantine-color-dimmed);
  --app-border-radius: var(--mantine-radius-default);
  --app-border-color: var(--mantine-color-default-border);
  --app-text-color: var(--mantine-color-text);
  --bprogress-color: var(--app-color-primary);
}
