.root {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--app-text-color);
  background: var(--app-color-body);
  border-radius: var(--app-border-radius);
  border: 1px solid var(--app-border-color);
  padding: 0.4rem;
}
