.root {
  display: flex;
  flex-direction: column;
  --separator-color: transparent;
  --separator-size: 3px;
  --content-height: 100dvh;
  --header-height: 50px;
  --layout-gap: var(--app-space-md);
  @media (max-width: 62em) {
    --content-height: calc(100dvh - var(--header-height));
    --layout-gap: var(--app-space-xs);
  }
  height: 100dvh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  height: var(--header-height);
  border-bottom: var(--separator-size) solid var(--separator-color);
  padding: var(--app-space-xs);
  > * {
    width: 100%;
  }
}
.main {
  position: relative;
  flex: 1;
  overflow: hidden;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.content {
  display: flex;
  height: var(--content-height);
}

.panelWrap {
  height: var(--content-height);
  min-width: 4.1rem;
  display: flex;
  flex-direction: column;
  padding: var(--layout-gap);
  overflow: visible !important;
}
.leftPanel,
.rightPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--app-space-xs);
  border: 1px solid var(--separator-color);
  border-radius: var(--app-border-radius);
  box-shadow: var(--surface-shadow);
  background-color: var(--surface-bg);
}
.leftPanel {
  position: relative;
  gap: var(--app-space-xs);
  container-type: inline-size;
}
.leftPanelContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
.leftPanelModal {
  :global(.mantine-Drawer-content) {
    display: flex;
    flex-direction: column;
  }
  :global(.mantine-Drawer-body) {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
.rightPanel {
  width: 300px;
  overflow-y: auto;
}
.separator {
  width: var(--separator-size);
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.toolbar {
  position: absolute;
  top: var(--layout-gap);
  width: fit-content;
  left: var(--layout-gap);
  right: var(--layout-gap);
  margin: 0 auto;
  z-index: 2;
  box-shadow: var(--surface-shadow);
  background-color: var(--surface-bg);
}
